@model PairOfEmployeesViewModel

<style>
    table {
  border-collapse: separate;
  border-spacing: 0 10px;
}
td:first-child,
th:first-child {
  border-radius: 7px 0 0 7px;
}

td:last-child,
th:last-child {
  border-radius: 0 7px 7px 0;
}

tr{
  line-height: 10px;
  
}

td{
 max-width:400px;
 overflow: auto;
 white-space: nowrap;
 text-align: center;
}

th{
     text-align: center;
}


</style>



<div class="row">
    <div class="card mt-5" style="width: 50rem;">
        <div class="card-body">
        <h5 class="card-title">Upload CSV File with Employee Data</h5>
    <form asp-controller="Employees" asp-action="ProcessEmployees" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept/>
    <div>
    <button type="input" class="mt-4">Upload</button>
   @*//<span asp-validation-for="" class="text-danger"></span>*@
    </div>
    </form>
    </div>
    </div>
</div>

<hr />
@if(@Model.EmployeeId1 != 0)
{
 <div class="card mt-5" style="width: 50rem;">
        <div class="card-body">
        <h5 class="card-title">Longest Working Pair of Employees</h5>
        <table class="table table-striped table-hover table-responsive mt-2 mb-2">
            <thead>
    <tr>
        <td>Employee ID #1</td>
        <td>Employee ID #2</td>
        <td>Days worked</td>
    </tr>
    <tr>
        <td>@Model.EmployeeId1</td>
        <td>@Model.EmployeeId2</td>
        <td>@Model.Days</td>
    </tr>
</table>
  </div>
</div>
}


@if (@Model.EmployeeId1 != 0)
{
<div class="card mt-5" style="width: 50rem;">
        <div class="card-body">
        <h5 class="card-title">All Pairs of Employees</h5>
        <table class="table table-striped table-hover table-responsive mt-2 mb-2">
        <thead>
        <tr>
            <td>Employee ID #1</td>
            <td>Employee ID #2</td>
            <td>Project ID</td>
            <td>Days worked</td>
        </tr>
        </thead>
        @foreach(PairOfEmployees employee in Model.PairsOfEmployees)
        {
            <tr>
                <td>@employee.EmployeeId1</td>
                <td>@employee.EmployeeId2</td>
                @foreach(var pId in employee.Projects)
                {
                    <td>@pId</td>   
                }
                <td>@employee.Days</td>
            </tr>
        }
    </table>
    </div>
</div>
}
</div>
